
@using chefndish.Models
@model Dish

<body>
    <h1><a href="/">Chefs</a> | <a href="/Dishes">Dishes</a></h1>
    <h1>Dishes</h1>
    <a href="AddDishView">Add a Dish</a>
  
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
    <tbody>
    
        @foreach(Dish dish in @ViewBag.alldishes)
        {
            <tr>
                <td>@dish.DishName</td>
            
            </tr>
        }
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
